
.k{

  color: MintCream;
  text-align: center;
}
tr{
  text-align: center;
  color: Gold;
  font-size: 30px;
}
body{
  background-color: FireBrick;
}
p {
  font-family: verdana;
  font-size: 15px;
  text-align: center;
}
